Repository gilbus/os_credits: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, black, pytest

.pre-commit-config.yaml:

---
repos:
  # required linters/fixers are already part of poetry dev-setup
  - repo: local
    hooks:
      # run mypy first since its errors will probably also be the cause of
      # failing tests but its faster than the whole pytest suite
      - id: mypy
        name: Static type checker
        entry: make mypy
        language: system
        types: [python]
      - id: black
        name: Blacken code
        entry: poetry run black
        language: system
        types: [python]
      - id: pytest
        name: Run tests
        entry: make test
        pass_filenames: false
        language: system
        types: [python]
        exclude: 'docs/conf.py'

Fix Credits Precision
  src/os_credits/credits/base_models.py
  src/os_credits/credits/billing.py
  src/os_credits/credits/models.py
  src/os_credits/credits/tasks.py
  src/os_credits/perun/attributes.py
  src/os_credits/settings.py
  src/os_credits/views.py
  tests/test_application.py
  tests/test_settings.py
Due: mypy, black, pytest

Create coverage reports whenever possible
  Makefile
  poetry.lock
  pyproject.toml
Due: none

adapt to changes made in `project_usage`
  .default.env
Due: none

setup intersphinx documentation
  docs/conf.py
  docs/os_credits.rst
Due: mypy, black

Fix incorrectly updated timestamps
  src/os_credits/credits/tasks.py
  tests/test_application.py
Due: mypy, black, pytest

Test case where no credits are billed due to rounding
  src/os_credits/credits/base_models.py
  src/os_credits/credits/billing.py
  src/os_credits/credits/tasks.py
  tests/test_application.py
Due: mypy, black, pytest

Small fixes and hints
  src/os_credits/credits/base_models.py
  src/os_credits/notifications.py
  tests/conftest.py
Due: mypy, black, pytest

Refactor notifications
  src/os_credits/notifications.py
  tests/test_notifications.py
Due: mypy, black, pytest

Refactor settings
  src/os_credits/credits/tasks.py
  src/os_credits/settings.py
Due: mypy, black, pytest

50 Percent Credits notification
  src/os_credits/credits/tasks.py
  tests/test_application.py
Due: mypy, black, pytest

Implement NOTIFICATION_TO_OVERWRITE
  src/os_credits/credits/tasks.py
  src/os_credits/main.py
  src/os_credits/notifications.py
  src/os_credits/settings.py
  tests/conftest.py
  tests/test_application.py
  tests/test_notifications.py
Due: mypy, black, pytest

Credits_current -> credits_used
  src/os_credits/credits/models.py
  src/os_credits/credits/tasks.py
  src/os_credits/notifications.py
  src/os_credits/perun/attributes.py
  src/os_credits/perun/groupsManager.py
  src/os_credits/views.py
  tests/test_application.py
  tests/test_credits_history.py
  tests/test_notifications.py
Due: mypy, black, pytest

Make credits_granted readonly
  src/os_credits/perun/attributes.py
  src/os_credits/perun/base_attributes.py
  tests/test_attribute.py
Due: mypy, black, pytest

Fix confusing naming
  src/os_credits/credits/base_models.py
  src/os_credits/credits/models.py
  src/os_credits/credits/tasks.py
  src/os_credits/influx/client.py
  src/os_credits/main.py
  src/os_credits/views.py
  tests/test_application.py
  tests/test_calculations.py
  tests/test_credits_history.py
Due: mypy, black, pytest

Shorten attribute name
  src/os_credits/credits/base_models.py
  src/os_credits/credits/models.py
  tests/test_application.py
Due: mypy, black, pytest

Fix parsing of bad int values in settings
  src/os_credits/settings.py
  tests/test_settings.py
Due: mypy, black, pytest

Detect and reject missing To recipients in notifications
  src/os_credits/exceptions.py
  src/os_credits/notifications.py
  tests/test_notifications.py
Due: mypy, black, pytest

Notifications:
  src/os_credits/notifications.py
  tests/test_notifications.py
Due: mypy, black, pytest

use sphinx_rtd_theme
  docs/conf.py
  poetry.lock
  pyproject.toml
Due: mypy, black

Start real documentation
  docs/exceptions.rst
  docs/index.rst
  docs/notifications.rst
  docs/os_credits.rst
  docs/settings.rst
  src/os_credits/notifications.py
  src/os_credits/settings.py
Due: mypy, black, pytest

integrate README into docs
  README.md
  README.rst
  docs/index.rst
Due: none

more docs
  README.rst
  docs/settings.rst
Due: none

fix dependencies
  poetry.lock
  pyproject.toml
Due: none

Should have been two commits, but here we are :/
  src/os_credits/credits/base_models.py
  src/os_credits/credits/billing.py
  src/os_credits/credits/models.py
  src/os_credits/credits/tasks.py
  src/os_credits/influx/client.py
  src/os_credits/influx/model.py
  src/os_credits/influx/valueTypes.py
  src/os_credits/notifications.py
  src/os_credits/settings.py
  tests/test_influxdbpoint.py
Due: mypy, black, pytest

moah docs
  docs/conf.py
  docs/index.rst
  docs/influx.rst
  docs/os_credits.influx.rst
  docs/os_credits.rst
Due: mypy, black

Add doctest testing to pytest
  pytest.ini
  src/os_credits/__main__.py
  src/os_credits/influx/model.py
Due: mypy, black, pytest

Refactoring of Influx helper module
  Makefile
  docs/influx.rst
  pytest.ini
  src/os_credits/credits/base_models.py
  src/os_credits/influx/helper.py
  src/os_credits/influx/model.py
  src/os_credits/influx/valueTypes.py
Due: mypy, black, pytest

notify on test finish
  poetry.lock
  pyproject.toml
Due: none

new test for bool serializer
  src/os_credits/influx/helper.py
  src/os_credits/settings.py
  tests/test_influx.py
Due: mypy, black, pytest

fix dependency category
  poetry.lock
  pyproject.toml
Due: none

Small refactoring and documentation
  docs/conf.py
  docs/development.rst
  docs/development/metrics_and_measurements.rst
  docs/index.rst
  docs/influx.rst
  docs/os_credits.influx.rst
  docs/os_credits.perun.rst
  docs/os_credits.rst
  src/os_credits/credits/base_models.py
  src/os_credits/credits/models.py
  src/os_credits/influx/helper.py
  src/os_credits/views.py
Due: mypy, black, pytest

Docs
  docs/_static/custom.css
  docs/conf.py
  docs/development/metrics_and_measurements.rst
  poetry.lock
  pyproject.toml
  src/os_credits/credits/base_models.py
Due: mypy, black, pytest

Make InfluxDBClient more robust
  src/os_credits/influx/client.py
  src/os_credits/influx/exceptions.py
  tests/test_influx.py
Due: mypy, black, pytest

fix helper script
  Makefile
  bin/generate_credits_history.py
Due: mypy, black, pytest

Extend endpoint with {start,end}_date params
  src/os_credits/credits/billing.py
  src/os_credits/influx/client.py
  src/os_credits/settings.py
  src/os_credits/views.py
  tests/test_credits_history.py
  tests/test_influx.py
Due: mypy, black, pytest

Rename time to timestamp
  src/os_credits/credits/base_models.py
  src/os_credits/credits/billing.py
  src/os_credits/credits/tasks.py
  src/os_credits/influx/client.py
  src/os_credits/influx/model.py
  src/os_credits/views.py
  tests/test_application.py
  tests/test_calculations.py
  tests/test_credits_history.py
  tests/test_influx.py
Due: mypy, black, pytest

Small changes, inserted TODOs
  src/os_credits/credits/tasks.py
  src/os_credits/perun/exceptions.py
  src/os_credits/perun/groupsManager.py
  src/os_credits/views.py
Due: mypy, black, pytest

more documentation
  docs/os_credits.credits.rst
  docs/os_credits.influx.rst
  docs/os_credits.perun.rst
  docs/os_credits.rst
  src/os_credits/credits/base_models.py
  src/os_credits/influx/client.py
  src/os_credits/influx/helper.py
  src/os_credits/influx/model.py
Due: mypy, black, pytest

Split `groupsManager` and `group`
  src/os_credits/credits/tasks.py
  src/os_credits/notifications.py
  src/os_credits/perun/group.py
  src/os_credits/perun/groupsManager.py
  tests/test_application.py
  tests/test_notifications.py
Due: mypy, black, pytest

Refactoring and documentation of `connect`
  src/os_credits/perun/__init__.py
  src/os_credits/perun/attributes.py
  src/os_credits/perun/attributesManager.py
  src/os_credits/perun/base_attributes.py
  src/os_credits/perun/group.py
  tests/patches.py
  tests/test_application.py
Due: mypy, black, pytest
