Repository gilbus/os_credits: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, black, pytest

.pre-commit-config.yaml:

---
repos:
  # required linters/fixers are already part of poetry dev-setup
  - repo: local
    hooks:
      # run mypy first since its errors will probably also be the cause of
      # failing tests but its faster than the whole pytest suite
      - id: mypy
        name: Static type checker
        entry: make mypy
        language: system
        types: [python]
      - id: black
        name: Blacken code
        entry: poetry run black
        language: system
        types: [python]
      - id: pytest
        name: Run tests
        entry: make test
        pass_filenames: false
        language: system
        types: [python]
        exclude: 'docs/conf.py'

more documentation
  README.rst
  docs/development.rst
  docs/index.rst
  docs/metrics_and_measurements.rst
  docs/os_credits.perun.rst
  docs/perun.rst
  src/os_credits/credits/base_models.py
  src/os_credits/credits/models.py
Due: mypy, black, pytest

Tests and documentation for perun
  poetry.lock
  pyproject.toml
  pytest.ini
  src/os_credits/perun/exceptions.py
  src/os_credits/perun/group.py
  src/os_credits/perun/requests.py
  src/os_credits/perun/resourcesManager.py
  tests/conftest.py
  tests/test.env
  tests/test_notifications.py
  tests/test_perun.py
Due: mypy, black, pytest

Reduce test times massively
  Makefile
  poetry.lock
  pyproject.toml
  pytest.ini
  src/os_credits/influx/client.py
  tests/conftest.py
  tests/docker-compose.yml
  tests/test.env
Due: mypy, black, pytest

Tests
  src/os_credits/main.py
  src/os_credits/notifications.py
  tests/test_application.py
  tests/test_credits_history.py
  tests/test_group.py
  tests/test_perun.py
Due: mypy, black, pytest

Use fixtures instead of global classes and variables
  .pre-commit-config.yaml
  Makefile
  src/os_credits/perun/group.py
  tests/conftest.py
  tests/test_application.py
  tests/test_perun.py
Due: mypy, black, pytest

add setup target
  Makefile
Due: none

fix DeprecationWarning: loop property is deprecated
  src/os_credits/main.py
Due: mypy, black, pytest

Update dependencies and fix tests
  poetry.lock
  tests/test_calculations.py
  tests/test_credits_history.py
Due: mypy, black, pytest

Update dev tools
  .pre-commit-config.yaml
  Makefile
Due: none

small fixes
  src/os_credits/credits/tasks.py
  src/os_credits/notifications.py
  src/os_credits/perun/group.py
  src/os_credits/settings.py
Due: mypy, black, pytest

more docs & cleanup
  docs/development.rst
  docs/notifications.rst
  docs/perun.rst
  src/os_credits/notifications.py
  src/os_credits/perun/base_attributes.py
  src/os_credits/perun/group.py
Due: mypy, black, pytest

fix explanation
  .pre-commit-config.yaml
Due: none

Docs and Tests
  docs/perun.rst
  src/os_credits/perun/attributes.py
  src/os_credits/perun/base_attributes.py
  src/os_credits/perun/groupsManager.py
  tests/test_attribute.py
Due: mypy, black, pytest

more documentation
  docs/conf.py
  docs/exceptions.rst
  docs/metrics_and_measurements.rst
  docs/notifications.rst
  docs/os_credits.credits.rst
  docs/os_credits.influx.rst
  docs/os_credits.perun.rst
  docs/settings.rst
  src/os_credits/credits/models.py
  src/os_credits/notifications.py
  src/os_credits/perun/attributes.py
  src/os_credits/perun/base_attributes.py
  src/os_credits/settings.py
Due: mypy, black, pytest

fancy make file
  Dockerfile.dev
  Makefile
  docker-compose.yml
  tests/conftest.py
  tests/docker-compose.yml
  tests/test.env
Due: mypy, black, pytest

aaand more docs
  README.rst
  docs/conf.py
  docs/development.rst
  docs/extending.rst
  docs/index.rst
  poetry.lock
  pyproject.toml
Due: mypy, black

moah docs
  docs/development.rst
  docs/index.rst
  docs/logging.rst
  docs/views.rst
  docs/workflow.rst
  src/os_credits/credits/billing.py
  src/os_credits/credits/tasks.py
  src/os_credits/main.py
  src/os_credits/views.py
Due: mypy, black, pytest

small refactoring and docs
  docs/logging.rst
  src/os_credits/credits/tasks.py
  src/os_credits/log.py
  src/os_credits/main.py
  src/os_credits/settings.py
Due: mypy, black, pytest

final docs?
  docs/views.rst
  src/os_credits/credits/models.py
  src/os_credits/credits/tasks.py
  src/os_credits/main.py
  src/os_credits/views.py
Due: mypy, black, pytest

bump version
  docs/conf.py
  pyproject.toml
  src/os_credits/__init__.py
Due: mypy, black, pytest

set final version
  pyproject.toml
  src/os_credits/__init__.py
Due: mypy, black, pytest

Housekeeping and small refactorings
  .pre-commit-config.yaml
  Makefile
  poetry.lock
  pyproject.toml
  pytest.ini
  src/os_credits/cli.py
  src/os_credits/credits/base_models.py
  src/os_credits/credits/billing.py
  src/os_credits/credits/models.py
  src/os_credits/credits/tasks.py
  src/os_credits/influx/client.py
  src/os_credits/influx/helper.py
  src/os_credits/influx/model.py
  src/os_credits/log.py
  src/os_credits/main.py
  src/os_credits/notifications.py
  src/os_credits/perun/attributes.py
  src/os_credits/perun/attributesManager.py
  src/os_credits/perun/base_attributes.py
  src/os_credits/perun/group.py
  src/os_credits/perun/groupsManager.py
  src/os_credits/perun/requests.py
  src/os_credits/perun/resourcesManager.py
  src/os_credits/prometheus_metrics.py
  src/os_credits/settings.py
  src/os_credits/views.py
  tox.ini
Due: mypy, black, pytest

add travis ci
  .travis.yml
Due: none

Remove docker-compose from dev dependencies
  poetry.lock
  pyproject.toml
Due: none

update deps; current pyparsing release was removed
  poetry.lock
Due: none

install poetry separate from test venv
  .travis.yml
Due: none

Revert "install poetry separate from test venv"
  .travis.yml
Due: none

fix docutils issue
  poetry.lock
  pyproject.toml
Due: none

fix tests/ci
  Makefile
  mypy.ini
  src/os_credits/influx/model.py
  tox.ini
Due: mypy, black, pytest

use utc timezone when serializing datetimes
  src/os_credits/influx/helper.py
Due: mypy, black, pytest

apply single line imports to tests
  tests/conftest.py
  tests/patches.py
  tests/test_application.py
  tests/test_attribute.py
  tests/test_calculations.py
  tests/test_credits_history.py
  tests/test_influx.py
  tests/test_perun.py
Due: mypy, black, pytest

update gitignore
  .gitignore
Due: none

fix tests
  Makefile
  mypy.ini
  src/os_credits/influx/model.py
  tox.ini
Due: mypy, black, pytest

skip doctests due to timezone issues
  src/os_credits/influx/model.py
Due: mypy, black, pytest

update deps
  poetry.lock
Due: none

fix poetry install in travis ci
  .travis.yml
Due: none
